<div class="grid">
  <canvas #snake class="game-board"></canvas>
  <div class="right-column">
    <div>
      <h1>SNAKE</h1>
      <p>Score: {{ points }}</p>
      <p>Snake blocks: {{ snakeBlocks }}</p>
      <p>Speed: {{ speed + 'x' }}</p>
    </div>
    <div class="button-container">
      <button (click)="playGame()" class="play-button button">
        Play Game
      </button>
    </div>
    <ng-container *ngIf="!isRunning; then pause; else resume"></ng-container>
    <ng-template #pause>
      <div class="button-container">
        <button (click)="pauseGame()" class="pause-button button">
          Pause Game
        </button>
      </div>
    </ng-template>
    <ng-template #resume>
      <div class="button-container">
        <button (click)="resumeGame()" class="pause-button button">
          Resume Game
        </button>
      </div>
    </ng-template>

    <div class="button-container">
      <button (click)="resetGame()" class="pause-button button">
        Reset Game
      </button>
    </div>
  </div>
</div>
